@font-face {
  font-family: "PixelOperator";
  src: url("./pixel_operator/PixelOperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelOperator";
  src: url("./pixel_operator/PixelOperator-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PixelOperatorMono";
  src: url("./pixel_operator/PixelOperatorMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #2b2b2b;
  padding: 30px;
  border: 5px white solid;
  border-radius: 5px;
  color: white;
}

/* background pattern https://www.magicpattern.design/tools/css-backgrounds */
body {
  background-color: #040404;
  background-image: linear-gradient(#005a06 4px, transparent 4px),
    linear-gradient(to right, #005a06 4px, #040404 4px);
  background-size: 15dvw 10dvh;
  font-family: "PixelOperator";
}
.papyrus-gif {
  width: 100px;
}
.gif {
  width: 150px;
  height: auto;
}

.title-block {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 5rem;
}

p {
  margin: 5px 0 0;
  font-size: 1.8rem;
}

.button {
  width: 20dvw;
  height: 12.5dvh;
  display: flex;
  border: 5px solid #ffa401;
  border-radius: 2px;
  background-color: black;
  color: #ffa401;
  font-size: 3rem;
  cursor: pointer;
  gap: 8px;
  font-family: "PixelOperator", sans-serif;
  justify-content: space-evenly;
  align-items: center;
  margin: 1dvh;
  font-weight: bold;
  & img {
    height: 75%;
  }
}

.button:hover {
  border: 5px solid #ffff00;
  color: #ffff00;
  height: 12.5dvh;

  & img {
    content: url("image/Heart.png");
    height: 50%;
    animation: bounce 1s alternate ease-in-out infinite;
  }
}

a {
  text-decoration: none;
}

#information-section {
  position: inherit;
  flex-direction: column;
  width: 75dvw;
  height: auto;
  padding: 3rem;
  margin: 3rem;
}

strong{
  font-size: 1.5rem;
}
#samenvatting-inhoud, #reflectie-inhoud {
  font-size: 1.2rem;
  flex-direction: column;
}

@keyframes bounce {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.text-section {
  height: 20dvh;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 5px white solid;
  color: white;
  bottom: 2.5dvh;
  font-size: 3rem;
}

#sticky-footer {
  position: sticky;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: 45dvh;
  }
}

.leerdoelen-button {
  width: 30dvw;
}
#information {
  font-family: "PixelOperatorMono";
  font-size: 4rem;
}

#battle-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  bottom: -80%;
}

.information-button {
  width: 25dvw;
}

@media screen and (max-width: 992px) {
  .button {
    width: 60dvw;
    font-size: 2.5rem;
    & img {
    height: 75%;
  }
  }
  .leerdoelen-button {
    width: 75dvw;
    min-height: 15dvh;
  }

  .information-button {
    width: 80dvw;
  }

  h1 {
  margin: 0;
  font-size: 2rem;
}

p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

  footer {
    height: 10dvh;
  }

  #information {
    font-size: 2rem;
  }
  #information-section {
    padding: 1rem;
    margin: 1rem;
  }
  header img:nth-of-type(-n + 3),
  header img:nth-of-type(n + 6) {
    display: none;
  }
}
